<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="practice.com.myapplication">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".database.DBActivity"></activity>
        <activity android:name=".parcableexample.ParceableTestActivity"></activity>
        <activity android:name=".content_provider.ContentProWithLoaderActivity"></activity>
        <activity android:name=".fragment_lifecycle.FragmentLifeCycleActivity"></activity>
        <activity android:name=".map.MapActivity"></activity>
        <activity android:name=".scen_animation.SceneExample"></activity>
        <activity android:name=".scen_animation.AnimSampleActivity"></activity>
        <activity android:name=".scen_animation.AnimationTwo"></activity>
        <activity android:name=".broadcast.BroadCastRecieversSample"></activity>

        <activity android:name=".webapis.WebapiSample"></activity>
        <activity android:name=".webapis.retrofit.RetrofitSample"></activity>
        <activity android:name=".google_samples.GPlusSample"></activity>
        <activity android:name=".google_samples.GoogleAnlyticsActivity"></activity>
        <activity android:name=".twitter.TwitterSampleActivity"></activity>
        <activity android:name=".facebook.FacebookSampleActivity"></activity>

        <service android:name=".services.MainService"
            android:exported="false"></service>

        <provider
            android:name=".content_provider.MyProvider"
            android:authorities="practice.com.myapplication.content_provider.MyProvider"
            android:exported="true"
            android:multiprocess="true" >
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7351ea3beb91cd7a06941655a53ff6a64fbe7a26"
            />

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="your API key"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <receiver
            android:name=".broadcast.MyReceiver"
            >
            <intent-filter android:priority="1">
                <action android:name="com.pycitup.BroadcastReceive" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.MySecondReceiver"
            >
            <intent-filter android:priority="2">
                <action android:name="com.pycitup.BroadcastReceive" />
            </intent-filter >

        </receiver>
    </application>

</manifest>